<!DOCTYPE html>
<html lang="en">

    {% include 'header.html' %}

<body>
    <div class="slds-container slds-theme_default slds-border_top dgf-body">

        <div class="slds-grid">

            <!-- sidebar -->
            <div class="slds-border_right slds-col slds-size_1-of-6">
                {% block sidebar %} {% endblock %}
            </div>

            <!-- content -->
            <div class="slds-grid slds-p-left_small slds-p-right_small slds-col slds-size_4-of-6">

                {% block content %} {% endblock %}

            </div>

            <div class="slds-border_right slds-col slds-size_1-of-6">

            </div>
        </div>

        <div class="dgf-footer-space"></div>
    </div>
</body>

{% include 'footer.html' %}

</html>
