<!-- footer -->
<footer class="dgf-footer">
    <div class="slds-p-around_x-large slds-theme_default">
        <div class="slds-grid slds-p-top_small ">
            <div class="slds-col slds-size_1-of-3">

            </div>
            <div class="slds-col slds-size_1-of-3">
                <center>
                    <p>
                        <span class="slds-text-color_default">Copyright® Dogeforce Project Collaborators</span>
                        <span class="slds-text-color_weak">@ {{ build_date }}</span>
                    </p>
                </center>
            </div>
            <div class="slds-col slds-size_1-of-3">

            </div>
        </div>
    </div>
</footer>